/*Form section*/
.form-section{
    text-align: center;
    background-color: #FAFAFAEF;
    font-family: 'Roboto Mono',monospace;
    border-top: 4px solid #CCC;
    max-width: 100%;
    margin: 5rem auto 0 auto;
    padding-bottom: 2rem;
    margin-top: 0;
}
.form-section h2{
    text-transform: uppercase;
    margin-top: 2rem;
    font-weight: 600;
}
.form-section hr{
    background-color: #0f1037;
    margin: 1rem 40%;
    padding: 1.4px 0;
}
.form-section form{
    width: 80%;
    margin: auto;
    border: 1px solid #333;
    margin-bottom: 2rem;
}
.form-section form div{
    padding-top: 2rem;
}
label {
    display: inline-block;
    width: 90px;
    text-align: center;
  }
  
  input, textarea {
    font: 1.3em sans-serif;
  
    width: 300px;
    box-sizing: border-box;
  
    border: 1px solid #999;
  }
  
  input:focus, textarea:focus {
    border-color: #000;
  }
  
  textarea {
    vertical-align: top;
  
    height: 5em;
  }
  
  form .button {
    padding-left: 90px; 
    margin-bottom: 1rem;
  }
  
  form button {
    margin-left: .5em;
    background-color: rgb(58, 250, 0);
    padding: 0.2rem 0.6rem;
    text-transform: uppercase;
  }
  form button:hover{
    background-color: rgb(41, 177, 0);
  }